@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body{
  background-color: #eee;
}
#root{
  max-width: 1920px;
  margin: 0 auto;
}
.my-container {
  max-width: 90%;
  margin: 0 auto;
}

/* @media (max-width: 500px) {
  .my-container {
    max-width: 98%;
  }
} */