@import "tailwindcss";

.brand-text-color {
  background-color: #EF6A1F;
}

.brand-bg-color {
  background-color: #EF6A1F;
}

.my-container {
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .my-container{
    max-width: 98%;
    /* color: #ef5d1a4d; */
  }
}